<br>
<div class="container">
<h1> What Inspires You? </h1>
</div>

<div class="container bg-light">
  <p>
    I have been evaluating my personal design process as I continue the quest of what I want to be when I grow up.
    Turns out, I don’t give myself enough credit.
    Shock. Or not, for those who know me.
    So, in an effort to put myself out there, this site holds all the work that I have been doing, as well as, what my current
    inspirations are.  Take a look around, and reach out if you'd like, I'd love to hear what inspires you as well! 
</div>
<br>
<div class="container text-center">
<%= image_tag("/AOWalking.jpg", size: "600x400")%>
</div>
